
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MakeElectronics - Home</title>
  <link rel="stylesheet" href="/index/styles.css">

  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
  <div class="home-wrapper">
    <div class="background-image-container">
      <img src="/images/breadboardBackground.png" alt="Map" class="background-image" />
    </div>

    <header class="header">
      <div class="nav-bar">
        <div class="nav-left">
          <% if (user) { %>
            <a class="auth-link" href="/logout">LOGOUT</a>
          <% } else { %>
            <a class="auth-link" href="/login">LOGIN</a>
          <% } %>
        </div>
        <%- include("../partials/errors.ejs"), { flashErrorMessages, flashSuccessMessages } %>
        <div class="nav-right">
          <a class="about-link" href="/about">ABOUT</a>
        </div>
      </div>
      
      <div class="header-bottom">
        <h1 class="site-title">MakeElectronics Notebook</h1>
        <% if (user) { %>
          <p class="greeting-text">Welcome, <%= user.username %></p>
        <% } %>
      </div>
    </header>


    <main class="main-content">
      <section class="sections">
        <% publicSections.forEach(function(section) { %>
          <div class="section-card">
            <a class="section-link" href="/my/sections/<%= section.id %>/experiments">
              <%= section.title %>
            </a>
            <p class="section-description">
              <%= section.description %>
            </p>
          </div>
        <% }) %>
      </section>
    </main>
  </div>

</body>

<script src="http://localhost:35729/livereload.js"></script>

</html>

