<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakeElectronics - Home</title>
  <link rel="stylesheet" href="/index/styles.css">
</head>

<body>
  <div class="map-container">
    <img src="/images/ProgressDisplayBackground2.png" alt="Map" class="map-background" />

    <% if (user) { %>
      <a class="text-button" id="logout-txt" href="/logout">LOGOUT</a>
      <p class="greeting-text" id="greeting-1">Welcome, <%= user.username %>
      </p>
      <% } else { %>
        <a class="text-button" id="login-txt" href="/login">LOGIN</a>
        <p class="greeting-text" id="greeting-2">Login to keep track of your progress and store experiment observations
        </p>
        <% } %>


          <h1 class="page-title">MakeElectronics</h1>

          <% publicSections.forEach(function(section) { %>
            <a class="map-button" id="img-<%= section.id %>" href="/my/sections/<%= section.id %>/experiments">
              <%= section.title %>
            </a>
            <p class="map-sec-description" id="desc-<%= section.id %>">
              <%= section.description %>
            </p>
            <% }) %>
  </div>
</body>

</html>
